@model FinalCapstone.Models.User

<li class="right-aligned">@Html.ActionLink("Update", "UpdateBrewery", "Home")</li>
<li class="right-aligned">@Html.ActionLink("Add Beer", "AddBeer", "Home")</li>
<li class="right-aligned">@Html.ActionLink("Logout", "Logout", "Home")</li>